<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>casopractico2 frontend</title>
  </head>
  <body>
    <h1>Frontend deployed on AKS</h1>
    <p>Backend service: {{ app_backend_image_name }}</p>
  </body>
</html>
