<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>casopractico2</title>
  </head>
  <body>
    <h1>Servidor web desplegado con Ansible y Podman</h1>
    <p>Host: {{ inventory_hostname }}</p>
    <p>Registry: {{ acr_login_server }}</p>
  </body>
</html>
